{
  "github" : {
    "repo" : "git@github.com:fderepas/scvs.git",
  },
  "make" : {
    "makeCommandName" : "make",
    "tracedCommands" : {
      "gcc" : {
        "oneArgumentOptions": ["-o", "-MT", "-MF"]
      },
      "ld" : {
        "oneArgumentOptions": ["-o", "-plugin", "-m", "-dynamic-linker", "-z"]
      },
      "cc1" : {
        "oneArgumentOptions": ["-o", "-imultiarch", "-dumpbase", "-auxbase"]
      },
      "as" : {
        "oneArgumentOptions": ["-o"]
      }
    },
    "symLinkCommands" : ["ln", "mv"],
    "compilationUnitExtension" : [".c"],
    "objectFileExtensionToFollow" : [".o", ".so", ".a"],
    "linkerCommandName" : "ld",
  },
  "names" : {
    "tisConfigFileName" : "tis.config",
    "tisMakeStraceTmpFileName" : "strace_out.txt",
  },
}
